.homeisland {
  margin: 5px;
  padding: 10px;
  display: inline-block;
  min-width: 250px;
  background-color: lightgray;
  border-radius: 10px;
  vertical-align: top;
}
.island_title {
  text-align: center;
}
.island_text {
  margin-top: 5px;
}