.button_container {
  margin: auto;
  text-align: center;
  padding: 5px;
  display: inline-block;
  vertical-align: top;
}
.std_button {
  background-color: lightgray;
  padding: 5px;
  border-radius: 10px;
  width: 100px;
}
.std_button:hover, .std_button:focus {
  background-color: rgb(7, 194, 7);
  outline: none;
}
.std_button:active {
  border-radius: 10px;
}